.input-text-div {
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
}

.input-text {
  border: none;
  padding: 5px 10px;
  width: 100%;
}

.input-checkbox-div {
  align-items: baseline;
  display: flex;
  margin: 5px 20px;
}

.input-checkbox-label {
  order: 1;
}

.input-checkbox {
  margin: 5px;
  order: 0;
}

.input-number-div {
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
}

.input-number {
  border: none;
  padding: 5px 10px;
  width: 70px;
}
