.movie-card-header {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 100%;
  min-height: 100px;
}

.page-title {
  color: #e44d26;
  font-family: Monoton , cursive;
  font-size: 45px;
  font-weight: 400;
  margin: 10px;
  text-align: center;
}
