@font-face {
  font-family: TheGodfather;
  src: url('./fonts/TheGodfather-rgRK.ttf');
}

.add-form {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 30%;
}

.add-form label {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.add-form textarea {
  height: 100px;
  resize: none;
}

body {
  background: url('./images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg') no-repeat fixed;
  background-size: cover;
  box-sizing: border-box;
  font-size: 16px;
}

.filter-form {
  align-items: center;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.filter-form .text-input-label, .filter-form .select-input-label {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.filter-form .checkbox-input-label {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.movie-card-header {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: white;
  font-family: TheGodfather , serif;
  font-size: 70px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 5px;
  overflow: hidden;
  padding: 0;
  transition: 0.3s;
  width: 24%;
}

.movie-card:hover {
  transform: scale(1.03);
  transition: 0.3s;
}


.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
}

.movie-card-title {
  color: red;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
  text-align: right;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
  text-align: right;
}

.movie-card-storyline {
  font-size: 14px;
  padding: 20px;
  text-align: justify;
}

.rating {
  background-color: black;
  border-radius: 5px;
  color: red;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.rating-tag {
  font-weight: 600;
}

.titles {
  background-color: black;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 5px black;
  padding: 5px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
}
