@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Roboto:wght@300&display=swap');

body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.movie-card-header {
  align-items: center;
  background-color: #000000;
  display: flex;
  height: 100px;
  justify-content: center;
  box-shadow: 1px 1px 20px rgb(0, 0, 0);
  position: absolute;
  width: 100%;
}

.search-bar {
  align-items: center;
  background-color: rgb(178, 7, 16);
  box-shadow: 2px 3px 4px black;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  padding-bottom: 10px;
}

.search-bar-div {
  background-color: rgb(229, 9, 20);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 1px 20px black;
  width: 30%;
  height: 150px;
}

.page-title {
  color: #f8f9fa;
  font-weight: 500;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
}


.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
  justify-content: space-evenly;
  background-color: rgb(41, 41, 44);
  min-height: 80vh;
  border: 1px solid black;
  box-shadow: 1px 1px 10px black;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 480px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
  transition: 0.2s;
}

.movie-card:hover {
  width: 335px;
  height: 500px;
  background-color: rgb(37, 37, 37);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-weight: 800;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
  overflow-y: auto;
  max-height: 100px;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  display: none;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.add-movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(178, 7, 16);
}

.add-movie-form {
  margin:40px;
  background-color: rgb(229, 9, 20);
  padding: 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-movie-form h2 {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: 'Bebas Neue', cursive;
}

.add-movie-form input, textarea, select {
  margin-left: 10px;
}

.add-movie-form-items {
  padding: 10px;
}