body {
  background-color: black;
  box-sizing: border-box;
  color: rgb(156, 156, 156);
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: #343a40;
  border: 1px solid #343a40;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgb(49, 49, 49);
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.movie-card:hover {
  box-shadow: 2px 2px 3px rgb(172, 172, 172) , -2px -2px 3px rgb(172, 172, 172);
  transform: scale(1.1);
}


.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #fdfdfd;
  border-radius: 25px;
  color: #007bff;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.search-bar {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

input {
  margin: 10px;
  width: 150px;
}

select {
  margin: 10px;
}

.add-movie {
  align-items: flex-start;
  background-color: #343a40;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 20px;
}

textarea {
  height: 100px;
  margin: 10px;
  width: 300px;
}

button {
  background-color: black;
  color: rgb(156, 156, 156);
  width: 200px;
}
